<section class="about-us" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title start -->
                <div class="section-title">
                    <h2>About Me</h2>
                    <p>Professional Profile - There Is All About Me</p>
                </div>
                <!-- Section title end -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <!-- About image start -->
                <div class="about-image wow fadeInLeft" data-wow-delay="0.3s">
                    <img src="images/about.jpg" alt="" />
                </div>
                <!-- About image end -->
            </div>

            <div class="col-lg-8">
                <!-- About Content start -->
                <div class="about-content wow fadeInUp" data-wow-delay="0.8s">
                    <h3>I'm Vipin Nagar</h3>
                    <p>MERN Stack web developer with 7+ Months of experience coding websites . Proficient with HTML,
                        CSS, Bootstrap,javascript,Nodejs,React Js,Material UI and
                        Database like - MySQl,MongoDB. Most notably, improved the average time on page by 90% and
                        improved user experience scores for all
                        projects. Create website layout/user interface by using standard
                        HTML/CSS/BOOTSTRAP/REACTJS/MATERIAL-UI etc practices.
                    </p>


                    <ul>
                        <li><i class="flaticon-calendar"></i><b>Date of birth:</b> 14 Sep 2002</li>
                        <li><i class="flaticon-flag"></i><b>Nationality:</b> Indian</li>
                        <li><i class="flaticon-freelance"></i><b>Freelance:</b> Available</li>
                        <li><i class="flaticon-phone-call"></i><b>Phone:</b>+918700504218</li>
                        <li><i class="flaticon-placeholder"></i><b>Address:</b> Noida, Uttarpradesh</li>
                        <li><i class="flaticon-email"></i><b>Email:</b>vipinnagar8700@gmail.com</li>
                        <li><i class="flaticon-translation"></i><b>Spoken Langages:</b> Hindi,English</li>
                        <li><i class="flaticon-skype"></i><b>Skype:</b> Vipin Nagar</li>
                        
                    </ul>
                </div>
                <!-- About Content End -->
            </div>
        </div>
    </div>
</section>