<div class="brand-sponser">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper-container brand-slider">
                    <div class="swiper-wrapper">
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-1.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-2.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-3.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-4.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-5.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                        
                        <!-- Brand slide start -->
                        <div class="swiper-slide">
                            <div class="brand-slide">
                                <img src="images/brand-1.png" alt="" />
                            </div>
                        </div>
                        <!-- Brand slide end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>