
	<!-- Contact us Section Starts -->
	<section class="contactus" id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Section title start -->
					<div class="section-title">
						<h2>Get in touch</h2>
						<p>Feel free to drop me a line - Contact us</p>
					</div>
					<!-- Section title end -->
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<!-- Contact Form start -->
					<div class="contact-form">
						<form id="contactForm" action="#" method="post">
							<div class="row">
								<div class="form-group col-md-6 col-sm-6">
									<input type="text" class="form-control" placeholder="Your Name">
								</div>
								
								<div class="form-group col-md-6 col-sm-6">
									<input type="email" class="form-control" placeholder="Your Email Address">
								</div>
								
								<div class="form-group col-md-12 col-sm-12">
									<input type="text" class="form-control" placeholder="Subject">
								</div>
								
								<div class="form-group col-md-12 col-sm-12">
									<textarea rows="4" class="form-control" placeholder="How can i help you?"></textarea>
								</div>
								
								<div class="col-md-12 col-sm-12 text-center">
									<button type="submit" class="btn-contact">Contact Now</button>
								</div>
							</div>
						</form>
					</div>
					<!-- Contact Form end -->
				</div>
			</div>
		</div>
	</section>
	<!-- Contact us Section Ends -->
	
	<!-- Contact Information Section Starts -->
	<div class="contact-information">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<!-- Contact info single start -->
					<div class="contact-info-single wow fadeInUp" data-wow-delay="0.3s">
						<h3>Address</h3>
						<p>Noida <br />Uttarpradesh,India</p>
					</div>
					<!-- Contact info single end -->
				</div>
				
				<div class="col-lg-4">
					<!-- Contact info single start -->
					<div class="contact-info-single wow fadeInUp" data-wow-delay="0.6s">
						<h3>Phone No.</h3>
						<p>+918700504218 <br />+919999683738 </p>
					</div>
					<!-- Contact info single end -->
				</div>
				
				<div class="col-lg-4">
					<!-- Contact info single start -->
					<div class="contact-info-single wow fadeInUp" data-wow-delay="0.9s">
						<h3>Email</h3>
						<p>vipinnagar8700@gmail.com <br />inquiry@algoblend.com</p>
					</div>
					<!-- Contact info single end -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Information Section Ends -->
	
	<!-- Footer Section starts -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Footer Logo start -->
					<div class="footer-logo">
						<h1><span>Vipin</span>Nagar</h1>
					</div>
					<!-- Footer Logo end -->
					
					<!-- Footer About start -->
					<div class="footer-about">
						<p>I am a skilled MERN stack developer with expertise in building dynamic web applications. My proficiency in MongoDB, Express.js, React.js, and Node.js allows me to develop efficient and scalable applications. I have experience in creating robust APIs, designing responsive user interfaces, and integrating various third-party services. With a passion for delivering high-quality code, I am always looking to learn and improve my skills in the rapidly-evolving tech industry."</p>
					</div>
					<!-- Footer About end -->
					
					<!-- Footer Social Link start -->
					<div class="footer-social">
						<a href="https://www.facebook.com/vipinnagar8700"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="https://www.instagram.com/nagar________vipin8700/"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
					</div>
					<!-- Footer Social Link end -->
					
					<!-- Footer Copyright start -->
					<div class="footer-copyright">
						<p>Copyright &copy; Algoblend.in. All rights reserved. Design By <a href="https://algoblend.in/" target="_blank">AlgoBlend.in</a> </p>
					</div>
					<!-- Footer Copyright end -->
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section Ends -->
	