<section class="my-resume" id="resume">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title start -->
                <div class="section-title">
                    <h2>My Resume</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
                <!-- Section title end -->
            </div>
        </div>
        
        <div class="row mb-5 pb-5">
            <div class="col-md-6">
                <div class="experience">
                    <h3 class="sub-title"><i class="fa fa-briefcase"></i> Experience</h3>
                    
                    <!-- Experience Slider Start -->
                    <div class="swiper-container experience-slider">
                        <div class="swiper-wrapper">
                            <!-- Experience Slide start -->
                            <div class="swiper-slide">
                                <div class="experience-single">
                                    <h5>2021-2023</h5>
                                    <h4>WordPress Developer </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <!-- Experience Slide end -->
                            
                            <!-- Experience Slide start -->
                            <div class="swiper-slide">
                                <div class="experience-single">
                                    <h5>2023 - now</h5>
                                    <h4>Graphics Designer </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <!-- Experience Slide end -->
                            
                            <!-- Experience Slide start -->
                            <div class="swiper-slide">
                                <div class="experience-single">
                                    <h5>2023 - Present</h5>
                                    <h4>MERN Stack Developer </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <!-- Experience Slide end -->
                        </div>
                        
                        <!-- Experience Pagination Start -->
                        <div class="experience-pagination"></div>
                        <!-- Experience Pagination Start -->
                    </div>
                    <!-- Experience Slider Start -->
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="education">
                    <h3 class="sub-title"><i class="fa fa-graduation-cap"></i> Education</h3>
                    
                    <!-- Education Slider Start -->
                    <div class="swiper-container education-slider">
                        <div class="swiper-wrapper">
                            <!-- Experience Slide start -->
                            <div class="swiper-slide">
                                <div class="experience-single">
                                    <h5>2020 - 2023</h5>
                                    <h4>Bachalors Of Computer Application - C.C.S University Merrut</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <!-- Experience Slide end -->
                            
                            <!-- Experience Slide start -->
                            <div class="swiper-slide">
                                <div class="experience-single">
                                    <h5>2023 - Now Persuing</h5>
                                    <h4>Masters Of Computer Application - C.C.S University Merrut</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                            <!-- Experience Slide end -->
                        </div>
                    
                        <!-- Education Pagination Start -->
                        <div class="education-pagination"></div>
                        <!-- Education Pagination Start -->
                    </div>
                    <!-- Education Slider End -->
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="skill">
                    <h3 class="sub-title"><i class="fa fa-star-o"></i>My Skills</h3>
                    
                    <!-- Skill Content Start -->
                    <div class="skill-content">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>HTML</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>CSS</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>Nodejs</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>Git Hub</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>React Js</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>API's</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>Figma</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>WordPress</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>JavaScript</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Skill Single Start -->
                                <div class="skill-single">
                                    <h5>Database - MongoDB,MySQL</h5>
                                    <div class="skill-ratting">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </div>
                                </div>
                                <!-- Skill Single End -->
                            </div>
                        </div>
                    </div>
                    <!-- Skill Content End -->
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="counter-stats">
                    <h3 class="sub-title"><i class="fa fa-heart"></i>Fun Facts</h3>
                    <div class="counter-content">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Counter Single Start -->
                                <div class="counter-single">
                                    <div class="icon-box">
                                        <i class="flaticon-employee"></i>
                                    </div>
                                    <h4 class="counter">1245</h4>
                                    <p>Happy Clients</p>
                                </div>
                                <!-- Counter Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Counter Single Start -->
                                <div class="counter-single">
                                    <div class="icon-box">
                                        <i class="flaticon-trophy"></i>
                                    </div>
                                    <h4 class="counter">289</h4>
                                    <p>Awards Achieved</p>
                                </div>
                                <!-- Counter Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Counter Single Start -->
                                <div class="counter-single">
                                    <div class="icon-box">
                                        <i class="flaticon-award"></i>
                                    </div>
                                    <h4 class="counter">1245</h4>
                                    <p>Projects Done</p>
                                </div>
                                <!-- Counter Single End -->
                            </div>
                            
                            <div class="col-md-6">
                                <!-- Counter Single Start -->
                                <div class="counter-single">
                                    <div class="icon-box">
                                        <i class="flaticon-customer"></i>
                                    </div>
                                    <h4 class="counter">6025</h4>
                                    <p>User Rattings</p>
                                </div>
                                <!-- Counter Single End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>