<section class="portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title start -->
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>See My Works - Lorem ipsum dolor</p>
                </div>
                <!-- Section title end -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Filter list start -->
                <div class="filter-container portfolio-nav">
                    <ul class="list-inline filter">
                        <li><a href="#" class="active-portfolio" data-filter="*">All </a></li>
                        <li><a href="#" data-filter=".designing">Designing</a></li>
                        <li><a href="#" data-filter=".graphic">Graphic</a></li>
                        <li><a href="#" data-filter=".websites">Websites</a></li>
                    </ul>
                </div>
                <!-- Portfolio Filter list End -->
            </div>
        </div>
        
        <div class="row portfolio-boxes">
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box designing">
                <div class="single-portfolio">
                    <a href="#popup-1" class="has-popup">
                        <img src="images/portfolio-1.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Designing</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-1" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-1.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box designing">
                <div class="single-portfolio">
                    <a href="#popup-2" class="has-popup">
                        <img src="images/portfolio-2.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Designing</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-2" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-2.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box websites">
                <div class="single-portfolio">
                    <a href="#popup-3" class="has-popup">
                        <img src="images/portfolio-3.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Websites</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-3" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-3.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box graphic">
                <div class="single-portfolio">
                    <a href="#popup-4" class="has-popup">
                        <img src="images/portfolio-4.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Graphic</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-4" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-4.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box graphic">
                <div class="single-portfolio">
                    <a href="#popup-5" class="has-popup">
                        <img src="images/portfolio-5.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Graphic</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-5" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-5.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box designing">
                <div class="single-portfolio">
                    <a href="#popup-6" class="has-popup">
                        <img src="images/portfolio-6.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Designing</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-6" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-6.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box graphic">
                <div class="single-portfolio">
                    <a href="#popup-7" class="has-popup">
                        <img src="images/portfolio-7.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Graphic</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-7" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-7.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
            
            <!-- Single Portfolio starts -->
            <div class="col-md-3 col-sm-6 col-xs-12 portfolio-box websites">
                <div class="single-portfolio">
                    <a href="#popup-8" class="has-popup">
                        <img src="images/portfolio-8.jpg" class="Portfolio Image" alt="" />
                        <div class="single-portfolio-overlay">
                            <h2>Project Title</h2>
                            <h3>Websites</h3>
                        </div>
                    </a>
                </div>
                <div id="popup-8" class="popup-box mfp-fade mfp-hide">
                    <div class="content">
                        <div class="image">
                            <img src="images/portfolio-8.jpg" alt="">
                        </div>
                        <div class="desc">
                            <h4>Project Title</h4>
                            <h5><i class="fa fa-folder"></i> Category</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                            <a href="#" class="btn-view-project">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Portfolio Ends -->
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="load-more-portfolio">
                    <a href="#">Load More Portfolio</a>
                </div>
            </div>
        </div>
    </div>
</section>