<div class="banner" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Banner Content Start -->
                <div class="banner-content">
                    <h2 class="cd-headline clip">
                        <span class="before-heading">Hi There! I'm </span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">MERN Stack Developer</b>
                            <b>Dynamic Web Designer</b>
                        </span>
                    </h2>
                    <p>Your brand takes control of its visual representation with custom web design</p>
                    
                    <a href="images\resume.pdf"attributes-list download  class="btn-download">Download CV</a>
                </div>
                <!-- Banner Content End -->
            </div>
        </div>
    </div>
</div>