<header class="header">
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="main-navbar">
        <div class="container">
            <!-- Navbar Brand start -->
            <a class="navbar-brand" href="#">
                <h1><span>Vipin</span> Nagar</h1>
            </a>
            <!-- Navbar Brand end -->
            
            <!-- Navigation Starts -->
            <ul class="navbar-nav ml-auto" id="main-menu">
                <li class="nav-item"><a class="nav-link active" href="#home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#resume">Resume</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <!-- Navigation Ends -->				
            
            <div class="navbar-toggle"></div>
            <div id="responsive-menu"></div>
        </div>
    </nav>	
</header>