<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter-content">
                    <h3>Sign up for Newsletter</h3>
                    <p>Join our subscribers list to get the latest news updates and special offers.</p>
                </div>
                
                <!-- Newsletter Form start -->
                <div class="newsletter-form wow fadeInUp">
                    <form action="#" class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button type="submit" class="btn-subscribe"><i class="fa fa-paper-plane-o"></i></button>
                        </div>
                    </form>
                </div>
                <!-- Newsletter Form end -->
            </div>
        </div>
    </div>
</div>