<section class="pricing" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title start -->
                <div class="section-title">
                    <h2>Our Pricing</h2>
                    <p>Our Reasonable prices - Lorem ipsum dolor</p>
                </div>
                <!-- Section title end -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <!-- Pricing single start -->
                <div class="pricing-single wow fadeInUp" data-wow-delay="0.3s">
                    <div class="pricing-header">
                        <div class="icon-box">
                            <i class="flaticon-settings"></i>
                        </div>
                        <h3>Basic</h3>
                        <p>$29 <span>/month</span></p>
                    </div>
                    
                    <div class="pricing-body">
                        <ul>
                            <li>Designing a small brand</li>
                            <li>Redesign the company logo</li>
                            <li>New visual design of the website</li>
                            <li>Deploying a website</li>
                            <li>Studio and product photography</li>
                            <li>Professional project support</li>
                            <li>Support and care</li>
                        </ul>
                    </div>
                    
                    <div class="pricing-footer">
                        <a href="#" class="btn-buynow">Get Started</a>
                    </div>
                </div>
                <!-- Pricing single end -->
            </div>
            
            <div class="col-md-4">
                <!-- Pricing single start -->
                <div class="pricing-single wow fadeInUp" data-wow-delay="0.6s">
                    <div class="pricing-header">
                        <span class="recommanded">Featured</span>
                        <div class="icon-box">
                            <i class="flaticon-award"></i>
                        </div>
                        <h3>Standard</h3>
                        <p>$39 <span>/month</span></p>
                    </div>
                    
                    <div class="pricing-body">
                        <ul>
                            <li>Designing a small brand</li>
                            <li>Redesign the company logo</li>
                            <li>New visual design of the website</li>
                            <li>Deploying a website</li>
                            <li>Studio and product photography</li>
                            <li>Professional project support</li>
                            <li>Support and care</li>
                        </ul>
                    </div>
                    
                    <div class="pricing-footer">
                        <a href="#" class="btn-buynow">Get Started</a>
                    </div>
                </div>
                <!-- Pricing single end -->
            </div>
            
            <div class="col-md-4">
                <!-- Pricing single start -->
                <div class="pricing-single wow fadeInUp" data-wow-delay="0.9s">
                    <div class="pricing-header">
                        <div class="icon-box">
                            <i class="flaticon-trophy"></i>
                        </div>
                        <h3>Silver</h3>
                        <p>$49 <span>/month</span></p>
                    </div>
                    
                    <div class="pricing-body">
                        <ul>
                            <li>Designing a small brand</li>
                            <li>Redesign the company logo</li>
                            <li>New visual design of the website</li>
                            <li>Deploying a website</li>
                            <li>Studio and product photography</li>
                            <li>Professional project support</li>
                            <li>Support and care</li>
                        </ul>
                    </div>
                    
                    <div class="pricing-footer">
                        <a href="#" class="btn-buynow">Get Started</a>
                    </div>
                </div>
                <!-- Pricing single end -->
            </div>
        </div>
    </div>
</section>