<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Section title start -->
                <div class="section-title">
                    <h2>Testimonials</h2>
                    <p>Happy Clients Says - Lorem ipsum dolor</p>
                </div>
                <!-- Section title end -->
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-8 offset-md-2">	
                <div class="swiper-container testimonial-slider">
                    <div class="swiper-wrapper">
                        <!-- Testimonial Slide start -->
                        <div class="swiper-slide">
                            <div class="testimonial-single">
                                <div class="testimonial-header">
                                    <figure>
                                        <img src="images/author-1.jpg" alt="" />
                                    </figure>
                                    
                                    <h3>John B. Willims</h3>
                                    <h4>Founder at Adis</h4>
                                </div>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                            </div>
                        </div>
                        <!-- Testimonial Slide end -->
                        
                        <!-- Testimonial Slide start -->
                        <div class="swiper-slide">
                            <div class="testimonial-single">
                                <div class="testimonial-header">
                                    <figure>
                                        <img src="images/author-2.jpg" alt="" />
                                    </figure>
                                    
                                    <h3>John B. Willims</h3>
                                    <h4>Founder at Adis</h4>
                                </div>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                            </div>
                        </div>
                        <!-- Testimonial Slide end -->
                        
                        <!-- Testimonial Slide start -->
                        <div class="swiper-slide">
                            <div class="testimonial-single">
                                <div class="testimonial-header">
                                    <figure>
                                        <img src="images/author-3.jpg" alt="" />
                                    </figure>
                                    
                                    <h3>John B. Willims</h3>
                                    <h4>Founder at Adis</h4>
                                </div>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
                            </div>
                        </div>
                        <!-- Testimonial Slide end -->
                    </div>
                    
                    <div class="testimonial-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>